<nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Manage Quote</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Quote List</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-space style="margin: 20px 0;">
    <ng-container *ngIf="user.role == 1">
        <button [routerLink]="'/admin/manage-matter/add/'" *nzSpaceItem nz-button nzType="primary"
            class="btn-dark-blue">
            <span nz-icon nzType="edit"></span>
            Vụ việc mới
        </button>
    </ng-container>
    <button [routerLink]="'/admin/manage-quote/add/'" *nzSpaceItem nz-button nzType="primary" class="btn-success">
        <span nz-icon nzType="download"></span>
        Export Excel
    </button>
    <button [routerLink]="'/admin/manage-quote/add/'" *nzSpaceItem nz-button nzType="primary" nzDanger>
        <span nz-icon nzType="download"></span>
        Export PDF
    </button>
</nz-space>
<nz-alert style="margin-bottom: 20px;" nzType="info"
    nzMessage="Filtering 8 out of 8 items. Filter the next 0 items"></nz-alert>
<nz-table #filterTable [nzTotal]="50" [nzData]="dataDisplay">
    <thead>
        <tr class="title-table">
            <th nzCustomFilter>
                Tên vụ việc
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>

            </th>
            <th [nzFilters]="arrTypeService" [nzFilterFn]="typeFilterFn">
                Lĩnh vực
            </th>
            <th [nzFilters]="arrServices" [nzFilterFn]="serviceFilterFn">Dịch vụ</th>
            <th nzCustomFilter>
                Luật sư phụ trách
                <nz-filter-trigger [(nzVisible)]="visibleLaw" 
                [nzActive]="searchValue.length > 0" 
                [nzDropdownMenu]="menu">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
            <th nzCustomFilter>Khách hàng
                <nz-filter-trigger [(nzVisible)]="visibleCustomer" 
                [nzActive]="searchValue.length > 0" 
                [nzDropdownMenu]="menu">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
            <th>Số điện thoại
                <nz-filter-trigger [(nzVisible)]="visiblePhone" 
                [nzActive]="searchValue.length > 0" 
                [nzDropdownMenu]="menu">
                    <span nz-icon nzType="search"></span>
                </nz-filter-trigger>
            </th>
            <th>Trạng thái</th>
            <th>Tiến độ</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of filterTable.data" [routerLink]='data._id'>
            <td style="max-width: 200px;">
                <p class="text-overflow" nz-tooltip [nzTooltipTitle]="data.ten_vu_viec" nzTooltipPlacement="bottomLeft"
                    [nzTooltipArrowPointAtCenter]="true">
                    {{ data.ten_vu_viec }}
                </p>
            </td>
            <td style="max-width: 130px;">
                <p class="text-overflow" nz-tooltip [nzTooltipTitle]="data.linh_vuc.ten_linh_vuc"
                    nzTooltipPlacement="bottomLeft" [nzTooltipArrowPointAtCenter]="true">
                    {{ data.linh_vuc.ten_linh_vuc }}
                </p>
            </td>
            <td style="max-width: 130px;">
                <p class="text-overflow" nz-tooltip [nzTooltipTitle]="data.dich_vu.ten_dv"
                    nzTooltipPlacement="bottomLeft" [nzTooltipArrowPointAtCenter]="true">
                    {{ data.dich_vu.ten_dv }}
                </p>
            </td>
            <td>{{ data.luat_su.ho_ten}}</td>
            <td>{{ data.khach_hang.ho_ten}}</td>
            <td style="max-width: 80px;">
                <p class="text-overflow" nz-tooltip [nzTooltipTitle]="data.khach_hang.account.sdt"
                    nzTooltipPlacement="bottomLeft" [nzTooltipArrowPointAtCenter]="true">
                    {{ data.khach_hang.account.sdt }}
                </p>
            </td>
            <td style="max-width: 80px;">
                <nz-tag [nzColor]="
                    data.status == 1 ? 'success' : data.status == 0 ? 'processing'
                    : 'warning'">
                    {{
                    data.status == 0 ? 'Processing'
                    : data.status == 1 ? 'Success'
                    : 'Pause'
                    }}
                </nz-tag>
            </td>
            <td>
                <nz-progress *ngIf="data.status == 0 || data.status == 2; else success" [nzPercent]="data.process"
                    nzSize="small"></nz-progress>
                <ng-template #success>
                    <nz-progress [nzPercent]="100" nzSize="small"></nz-progress>
                </ng-template>

            </td>
        </tr>
    </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" (click)="search()" nzType="primary" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>