<div class="request-quote-page">
  <nz-card nzType="inner" [nzTitle]="">
    <div class="title-logo">
      <img class="img-card" mat-card-image src="../../../assets/images/logo/logo_no.png" />
      <ul>
        <li class="name-company">The Law Company Inc.</li>
        <li>245 DVC Street, Can Tho City</li>
        <li>lawoffice@gmail.com</li>
        <li>(+84) 77 666 9999</li>
      </ul>
    </div>
    <div class="title">
      <h3>send your quote request</h3>
      <p>Quý khách cần thêm thông tin xin hãy điền vào thông tin bên dưới.
        Chúng tôi sẽ liên hệ với bạn sớm nhất có thể.</p>
    </div>
    <form nz-form [formGroup]="requestForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fullName">Họ tên</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input full name!">
          <input nz-input formControlName="fullName" id="fullName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Số điện thoại </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="requestForm.controls['phone']"
          nzErrorTip="Please input your phone number !">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phonePrefix" class="phone-select">
                <nz-option *ngFor="let code of countryCode" [nzLabel]="'+' + code.code + '  ' + code.name"
                  [nzValue]="code.code"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phone" id="'phone'" nz-input />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="province">Tỉnh/Thành</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input province">
          <nz-select formControlName="province" nzShowSearch nzAllowClear nzPlaceHolder="Select a province">
            <nz-option *ngFor="let item of provinces" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type">Lĩnh vực</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input field">
          <nz-select formControlName="type" nzShowSearch nzAllowClear nzPlaceHolder="Select a type">
            <nz-option *ngFor="let item of types" [nzLabel]="item.nameType" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Vấn đề của bạn</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please write something here!">
            <textarea formControlName="problem" nz-input rows="3" placeholder="Write any thing"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button class="btn-dark-blue" nz-button nzType="primary">Gửi yêu cầu</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>