<nz-alert style="margin-bottom: 10px;" *ngIf="error" nzBanner nzType="error" nzMessage="
  Kích thước file vượt quá mức quy định, vui lòng chọn file dưới 5MB"></nz-alert>
<input *ngIf="edit" accept="application/pdf, application/msword,text/plain" type="file"
    (change)="transformFile($event)" />
<nz-table [nzTotal]="50" #basicTable [nzData]="documents">
    <thead>
        <tr class="title-table">
            <th>Số</th>
            <th>Tên</th>
            <th>Loại file</th>
            <th>Kích thước</th>
            <th>Thời gian tạo</th>
            <th>Tải xuống</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{data.lastModified}}</td>
            <td>{{data.name}}</td>
            <td>{{data.type}}</td>
            <td>{{data.size}}</td>
            <td>{{data.lastModifiedDate | dateFormatPipe}}</td>
            <td>
                <a (click)="handleFile(data.file, data.name)">Download File</a>
            </td>
            <td *ngIf="edit">
                <!-- <button (click)="deleteFile(data.key)" nzDanger nzType="primary" nz-button>Delete</button> -->
                <app-modal-confirm 
                [btnTitle]="'Delete'" 
                [typeConfirm]="'error'" 
                [titleConfim]="'Bạn chắc chắn muốn xoá ?'"
                [contentConfirm]="'Hãy xác nhận rằng bạn chắc chắn muốn xoá.'"
                (isConfirm)="deleteFile(data.key)"></app-modal-confirm>
            </td>
        </tr>
    </tbody>
</nz-table>