<nz-breadcrumb>
    <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a>Manage Quote</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Quote List</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-space style="margin: 20px 0;">
    <button [routerLink]="'/counselor/manage-quote/add/'" *nzSpaceItem nz-button nzType="primary"
      class="btn-dark-blue">
      <span nz-icon nzType="edit"></span>
      Báo giá mới
    </button>
    <button [routerLink]="'/counselor/manage-quote/add/'" *nzSpaceItem nz-button nzType="primary"
      class="btn-success">
      <span nz-icon nzType="download"></span>
      Export Excel
    </button>
    <button [routerLink]="'/counselor/manage-quote/add/'" *nzSpaceItem nz-button nzType="primary" nzDanger>
    <span nz-icon nzType="download"></span>
    Export PDF
  </button>
  </nz-space>
<nz-alert style="margin-bottom: 20px;" nzType="info" nzMessage="Filtering 8 out of 8 items. Filter the next 0 items"></nz-alert>
<nz-table #basicTable [nzData]="dataSource">
    <thead>
        <tr class="title-table">
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data" [routerLink]='data.id'>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phone }}</td>
            <td>{{ data.created | date: 'dd/MM/yyyy, h:mm a' }}</td>
            <td>
                <nz-tag [nzColor]="
            data.status == 0 ? 'warning'
            : data.status == 1 ? 'processing'
            : 'success'">
                    {{
                    data.status == 0 ? 'Pending'
                    : data.status == 1 ? 'Processing'
                    : 'Success'
                    }}
                </nz-tag>
            </td>
            <td>
                <span class="icon-action" nz-icon nzType="delete" nzTheme="fill"></span>
            </td>
        </tr>
    </tbody>
</nz-table>